<ion-header>
  <ion-toolbar>
      <div class="header">
          <ion-title class="ion-title">Lista de Itens</ion-title>
          <a href="/#/logout" style="color: #f8f5f5">Sair</a>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <form #form="ngForm">
    <ion-grid>
        <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div>
                    <h2>{{lista.nome}}</h2>
                    <h5>Data: {{lista.data | date: 'dd-MM-yy'}}</h5>
                </div>
                <ion-list>
                    <ion-item color="primary" *ngFor="let itemLista of itensListaApi; let i = index">
                        <ion-label (click)="alterarItem(itemLista)">{{itemLista.sNome}} - {{itemLista.sUnidadeMedida}} </ion-label>
                        <ion-label Class="direita">{{itemLista.nQuantidade}}</ion-label>
                    </ion-item>
                    <ion-item color="primary" *ngFor="let itemAdicionar of itensListaNovo; let i = index">
                        <ion-label Id="corLabel" (click)="alterarItem(itemAdicionar)">+ {{itemAdicionar.sNome}} - {{itemAdicionar.sUnidadeMedida}} </ion-label>
                        <ion-label Id="corLabel" Class="direita">{{itemAdicionar.nQuantidade}}</ion-label>
                    </ion-item>
                </ion-list>
                <ion-button expand="full" (click)="salvarAlteracoes()">Salvar Alterações</ion-button>
                <ion-button expand="full" (click)="adicionarItem()">Adicionar Item</ion-button>
                <ion-button expand="full" (click)="cancelar()">Cancelar</ion-button>
                <ion-button expand="full" (click)="testar()">Teste</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
</ion-content>
