<ion-header>
    <ion-toolbar>
        <div class="header">
            <ion-title class="ion-title">Lista de Itens</ion-title>
            <a href="/#/logout" style="color: #f8f5f5">Sair</a>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
    <form #form="ngForm">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div>
                        <h2>{{lista.nome}}</h2>
                        <h5>Data: {{lista.cadastro | date: 'dd-MM-yy'}}</h5>
                    </div>
                    <ion-list>
                        <ion-item color="primary" *ngFor="let itemLista of itensListaNovo">
                            <ion-label (click)="alterarItem(itemLista)">{{itemLista.nome}} - {{itemLista.unidadeMedida}}
                            </ion-label>
                            <ion-label Class="direita">{{itemLista.quantidade}}</ion-label>
                        </ion-item>
                        <!-- <ion-item color="primary" *ngFor="let itemAdicionar of itensListaNovo">
                        <ion-label Id="corLabel" (click)="alterarItem(itemAdicionar)">+ {{itemAdicionar.nome}} - {{itemAdicionar.unidadeMedida}} </ion-label>
                        <ion-label Id="corLabel" Class="direita">{{itemAdicionar.quantidade}}</ion-label>
                    </ion-item> -->
                    </ion-list>
                    <ion-button expand="full" (click)="salvarAlteracoes()">Salvar Alterações</ion-button>
                    <ion-button expand="full" (click)="adicionarItem()">Adicionar Item</ion-button>
                    <ion-button expand="full" (click)="excluirLista()">Excluir Lista</ion-button>
                    <ion-button expand="full" (click)="cancelar()">Cancelar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>