a {
    position: absolute;
    right: 0;
    bottom: 0;
}
ion-list {
    padding: 0 !important;
}
.direita{
    position: absolute;
    right: 0;
}
.btnPopup{
    .info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}
}
#corLabel{
    color: yellow;
}
